<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">


<link rel="stylesheet" type="text/css" href="w3.css">

<link rel="stylesheet" type="text/css" href="project4.css">


	<title>
	project4
	</title>
</head>
<body>
<div>

<!--navbar-->
<div class="div1 w3-text-white">
<nav class="w3-bar w3-hide-small w3-hide-medium ">
	<h5 class="w3-bar-item"><img src="sun.gif" class="w3-circle" height="20%" width="10%"> InnerHealing</h5>
	<a href="#like"class="w3-hover-brown"  >Log In</a>
<a href="#contact" class="w3-hover-brown">Contact Us</a>
<a href="#about" class="w3-hover-brown">About</a>
<a href="#home" class="w3-hover-brown"> Home</a>
</nav>










<!-- Sidebar small screen -->
<div class="w3-sidebar w3-bar-block w3-border-right w3-hide-large  w3-black" style="display:none" id="mySidebar">
  <button onclick="w3_close()" class="w3-bar-item w3-large"> &times;</button>
  <a href="#home" class="w3-bar-item w3-button">Home</a><hr>
  <a href="#about" class="w3-bar-item w3-button">About</a><hr>
  <a href="#contact" class="w3-bar-item w3-button">Contact Us</a><hr>
  <a href="#like" class="w3-bar-item w3-button">Log In</a><hr>
</div>


<!-- Page Content -->
<div class="w3-black w3-hide-large resp">
  <button class="w3-button w3-black w3-xlarge" style="float: right;" onclick="w3_open()">☰</button>
 
    <h5 class="w3-bar-item"><img src="sun.gif" class="w3-circle" height="10%" width="5%"> InnerHealing</h5>
 
</div>

<div id="home" class="div11">
<img src="sun.gif" class="w3-circle" height="3%" width="4%" >
<h2>What To Do When You Don't <br> Know What To Do</h2>
<p style="color: red;"><i><b>(a home for total healing)</b></i></p>
</div>

</div>

<div id="about" class="div2 w3-card-4 w3-hide-small
w3-hide-medium
">
	<h4 class="div2h"><i>
		 Dolor sit amet, consectetur adipisicing elit, sed do eiusmod
tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
consequat.  </i>
	</h4>

	<p style="padding-right: 30px;padding-left: 30px; ">
		 Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
	</p>
<div class="w3-display-container">
<img src="outdoor.jpg" width="100%" height="400px;">

<p class="w3-display-bottomleft"><button class="w3-btn w3-black">Let Go of The Past

</button></p>
</div>

<h4 class="w3-text-red" style="padding-left: 25px;"><b>Testimonies from Women who lived with scars</b></h4>



	<p style="padding-right: 30px;padding-left: 30px; ">
		 Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
	</p>
<div class="clearfix">
<img src="girl_mountain.jpg" style="float: 
left; width: 50%; height: 300px; margin-right: 10px;" >
<h2 style="color: red;"><b>Our Centres</b></h2>
 Dolor sit amet, consectetur adipisicing elit, sed do eiusmod
tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
consequat. <br><br>
Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
</div>




<div class="w3-hide-small w3-hide-medium">
	<p >
		 Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
	</p>


<h3 class="w3-text-red div2h"><b>Want to share Yours</b></h3>

	<h6 class="div2h" >
		 Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
consequat.
	</h6>





<div class="w3-row-padding" style="margin-top: 40px;">
	

<div class="

w3-half"><h6 >
		 Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
consequat.

		 Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
consequat. <br><br>
<b><i>
&innerhealing</i></b>
	</h6>
</div>


<div class="

w3-half"><h6 >
		 Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
tempor incididunt ut labore et dolore magna aliqua.<br><br> Ut enim ad minim veniam,
quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
consequat.

<br><br> Ut enim ad minim veniam,
quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
consequat.
	</h6>




<div class="w3-bar w3-gray">
  <a href="#" class="w3-bar-item w3-button w3-blue" style="padding-right:80px;">Home</a>
  <a href="#" class="w3-bar-item w3-button w3-teal" style="padding-right:80px;">Link 1</a>
  <a href="#" class="w3-bar-item w3-button w3-red" style="padding-right:80px;">Link 2</a>
  <a href="#" class="w3-bar-item w3-button w3-gray" style="padding-right:80px;">Link 3</a>
</div>



</div>


<!--3rd div-->

</div></div>
</div>














<!--small screen-->
<div id="about" class="w3-hide-large">
	<h4 class="div2h"><i>
		 Dolor sit amet, consectetur adipisicing elit, sed do eiusmod
tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
consequat.  </i>
	</h4>

	<p style="padding-right: 30px;padding-left: 30px; ">
		 Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
	</p>
<div class="w3-display-container">
<img src="outdoor.jpg" width="100%" height="400px;">

<p class="w3-display-bottomleft"><button class="w3-btn w3-black">Let Go of The Past

</button></p>
</div>

<h4 class="w3-text-red" style="padding-left: 25px;"><b>Testimonies from Women who lived with scars</b></h4>



	<p style="padding-right: 30px;padding-left: 30px; ">
		 Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
consequat. 
	</p>
<div class="clearfix">
<img src="girl_mountain.jpg" style="float: 
left; width: 100%; height: 400px; margin-right: 15px;" >
<h2 style="color: red;"><b>Our Centres</b></h2>
 Dolor sit amet, consectetur adipisicing elit, sed do eiusmod
tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
consequat. <br><br>
Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
tempor incididunt .
</div>




<div>
	<p >
		 Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
consequat. </p>


<h3 class="w3-text-red div2h"><b>Want to share Yours</b></h3>

	<h6 >
		 Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
tempor incididunt ut labore et dolore magna aliqua.
	</h6>

</div>


<div class="w3-row-padding" style="margin-top: 40px;">
	

<div class="

w3-half"><h6 >
		 Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
consequat.

		 Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
consequat. <br><br>
<b><i>
&innerhealing</i></b>
	</h6>
</div>


<div class="

w3-half"><h6 >
		 Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
tempor incididunt ut labore et dolore magna aliqua.<br><br> Ut enim ad minim veniam,
quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
consequat.

<br><br> Ut enim ad minim veniam,
quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
consequat.
	</h6>




<div class="w3-bar w3-gray">
  <a href="#" class="w3-bar-item w3-button w3-blue" style="padding-right:80px;">Home</a>
  <a href="#" class="w3-bar-item w3-button w3-teal" style="padding-right:80px;">Link 1</a>
  <a href="#" class="w3-bar-item w3-button w3-red" style="padding-right:80px;">Link 2</a>
  <a href="#" class="w3-bar-item w3-button w3-gray" style="padding-right:80px;">Link 3</a>
</div>


</div>






</div>




</div>





</div>




</div>




<div id="like" class="w3-black div2h  " style="margin-top: 40px;">
	<h1><b>Liked this article?</b></h1>


	<p>
		 Ut enim ad minim veniam,
quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
consequat.
	</p>

<div id="contact" class="w3-text-white w3-bar div5  " style="border: none; margin-top: 30px;">
<form class="w3-bar w3-center" style="align-items: center; padding-top: 20px; "><p class="
	w3-bar-item
	">

	<label>
		Full Name
	</label><br>
	<input type="text" name="name">
</p>
<p class="
w3-bar-item
">

<label>E-mail</label><br>
	<input type="email" name="Email"> 


  <button class="w3-btn w3-blue">SIGN UP</button></p>


</form>

</div>

</div>




<!--res-->
<!--

<div class="w3-text-white div2h div5 w3-hide-large w3-hide-medium " style="border: none; margin-bottom: 40px;">
<form><p class="
	w3-mobile
	">

	<label>
		Full Name
	</label><br>
	<input type="text" name="name">
</p>
<p class="
w3-mobile
">

<label>E-mail</label><br>
	<input type="email" name="Email"></p>
</form>
</div>

</div>-->

<div class="
w3-row-padding" style="padding-bottom: 60px;">
	
<h1 class="div2h" style="padding: 20px;"><b>Other interesting Insights</b></h1>

<div class="w3-third"> 
<img src="portfolio.jpg" width="100%" height="200px">

<p>
		 Ut enim ad minim veniam,
quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
consequat.</p>
</div>


<div class="w3-third">

<img src="girl_mountain.jpg"  width="100%" height="200px">
<p>
		 Ut enim ad minim veniam,
quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
consequat.</p>
 </div>


<div class="w3-third">


<img src="rocks.jpg"  width="100%" height="200px">
<p>
		 Ut enim ad minim veniam,
quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
consequat.</p>
 </div>
</div>



<div class=" w3-bar div5 div2h w3-black  " style="border: none;">

<p>
		 Ut enim ad minim veniam,
quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
consequat.</p><br>
<p>
		 Ut enim ad minim veniam,</p>
		 <p>minim veniam,</p>

<img src="sun.gif" class="w3-circle" height="3%" width="4%" >
<img src="sun.gif" class="w3-circle" height="3%" width="4%" >
<img src="sun.gif" class="w3-circle" height="3%" width="4%" >
</div>

</div>









<!--script for resp. nav-->

<script>
function w3_open() {
    document.getElementById("mySidebar").style.display = "block";
}
function w3_close() {
    document.getElementById("mySidebar").style.display = "none";
}
</script>
     


</body>
</html